
<h1>Where do you want to Wander?</h1>

<div class="set-end-point">Select End Point:
  
</div>

<div class="add-waypoint-button">
  <button id="add-waypoint-button" type="button">Add a Waypoint</button>
</div><br>

<div class="find-meandr-route-button">
  <button id="find-route-button" type="button">Start a Meandr</button>
</div><br>

<div class="map-container">
  <input id="search-input" class="controls" type="text" placeholder="Search Box">
  <div id="map"></div>
</div>
