
<h1>Where do you want to Wander?</h1>

<div class="set-end-point">Select End Point:
  
</div>

<div class="add-waypoint-button">
  <button id="button" type="button">Add a Waypoint</button>
</div><br>

<div class="map-container">
  <div id="map"></div>
</div>
