
<h1>Where do you want to Meander?</h1>

<div class="set-end-point">Select End Point:

</div>

<div class="add-waypoint-button">
  <button id="add-waypoint-button" type="button">Add a Waypoint</button>
</div><br>

<div id="thanks"></div><br>

<div class="find-meandr-route-button">
  <button id="find-route-button" type="button">Start a Meandr</button>
</div><br>

<div class="map-container">
  <input id="search-input" class="controls" type="text" placeholder="Search Box">
  <div id="map"></div>
</div>

<div class="hidden">
  <span id="current-user-lat">start latitude</span>
  <span id="current-user-long">start longitude</span>
</div>

<div class="hidden">
  <span id="end-location">end location</span>
</div>

<div class="hidden">
  <span id="desired-end-lat">end latitude</span>
  <span id="desired-end-long">end longitude</span>
</div>
