<div class="container-fluid">

  <hr>
  <div class="intro">Where do you want to meandr?
  </div>
  <hr>

  <br><br>

  <div class="center-block map-container">
    <input id="search-input" class="controls" type="text" placeholder="Add Destination">
    <div id="map"></div>
  </div>

  <div class="row">
    <p><div class="col-xs-6">

      <button class="btn btn-waypoint btn-sm" id="add-waypoint-button" type="button">Add Waypoint
        <span class="glyphicon glyphicon-align-left  glyphicon-map-marker"></span></button></p>
    </div>
    <p><div class="col-xs-6">
      <button class="btn btn-meandr btn-sm" id="find-route-button" type="button">Go Meandr
        <span class="glyphicon glyphicon-align-right  glyphicon-menu-right"></span></button></p>
    </div>
  </div><br>

  <div id="thanks"></div><br>
  <div id="waypoint-form"></div><br>

  <div class="hidden">
    <span id="current-user-lat">start latitude</span>
    <span id="current-user-long">start longitude</span>
  </div>

  <div class="hidden">
    <span id="end-location">end location</span>
  </div>

  <div class="hidden">
    <span id="desired-end-lat">end latitude</span>
    <span id="desired-end-long">end longitude</span>
  </div>
</div>
