/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.


/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */

@import "*";
@import "bootstrap-sprockets";
@import "bootstrap";

#map {
  min-width: 200px;
  min-height: 200px;
  max-width: 1000px;
  border: 1px solid #236476;
}

.container-fluid {
  max-width: 1000px;
}
/* Optional: Makes the sample page fill the window.
*/html, body {
  height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.intro {
  font-variant: small-caps;
  font-size: 150%;
  text-align: center;
  font-weight: 900;
}

input {
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  padding: 5px;
  border: solid 1px #383838 ;
  transition: box-shadow 0.3s, border 0.3s;
  font-family: 'Montserrat', sans-serif;
  color: #ccc;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

input[type=submit]{
  background: #236476;
}
input[type=submit]:active {
  background: #7DAD3F;
}

.btn-meandr {
  float: right;
  background-color: #7DAD3F;
  color: #CFE0DA;
}

.btn-waypoint {
  float: left;
  background-color: #236476;
  color: #CFE0DA;
}

.btn-meandr:focus, .btn-meandr-success:focus {
  color: #CFE0DA;
}

.btn-waypoint:focus, .btn-waypoint-success:focus {
  color: #CFE0DA;
}

#user-feedback {
  display: block;
  margin: auto;
  text-align: center;
  font-size: 90%;
}

// #gif iframe{
//   display: block;
//   margin: auto;
//   // margin-right: auto;
// }

// #waiting {
//   align: left;
//   text-align: center;
//   font-size: 90%;
// }

// #thanks {
//   align: left;
//   text-align: center;
//   font-size: 90%;
// }

#error {
  align: left;
  text-align: center;
  font-size: 90%;
  color: red;
}

/*
.map-container  {
  max-height: 1em;
  max-width: 1em;
}*/

/*.hidden {
  display: none;
}*/

